<h4>
View and Condense Data
</h4>

In [1]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df = pd.read_csv('btcusd_1-min_data.csv')

In [3]:
df.head()

      Timestamp  Open  High   Low  Close  Volume
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')
#Now the time stamp will look like this:
# Eg. 2024-11-25 12:30:00
# Eg. 2024-11-25 12:31:00
df.head()

            Timestamp  Open  High   Low  Close  Volume
0 2012-01-01 10:01:00  4.58  4.58  4.58   4.58     0.0
1 2012-01-01 10:02:00  4.58  4.58  4.58   4.58     0.0
2 2012-01-01 10:03:00  4.58  4.58  4.58   4.58     0.0
3 2012-01-01 10:04:00  4.58  4.58  4.58   4.58     0.0
4 2012-01-01 10:05:00  4.58  4.58  4.58   4.58     0.0

In [5]:
# Define start and end dates for the time range
start_date = '2020-01-01 00:00:00'
end_date = '2024-08-31 23:59:59'

# Convert Timestamp column to datetime if not already
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

# Filter the entire dataset for the given range
filtered_data = df[(df['Timestamp'] >= start_date) & (df['Timestamp'] <= end_date)]

# Loop through each month from January 2020 to August 2024
results = []  # Store results for each month
for year in range(2020, 2025):
    for month in range(1, 13):  # Months from January to December
        # Stop the loop after August 2024
        if year == 2024 and month > 8:
            break

        # Get the start and end dates for the current month
        month_start = pd.Timestamp(year, month, 1)
        month_end = pd.Timestamp(year, month, pd.Timestamp(year=year, month=month, day=1).days_in_month)

        # Filter data for the current month
        monthly_data = filtered_data[(filtered_data['Timestamp'] >= month_start) & (filtered_data['Timestamp'] <= month_end)]

        # Check if there is any data for the current month
        if not monthly_data.empty:
            # Group the data by day and calculate the average for each day
            daily_avg_data = monthly_data.resample('D', on='Timestamp').mean()

            # Append to results
            results.append(daily_avg_data)

# Combine all monthly results into a single DataFrame (optional)
final_df = pd.concat(results)
print(final_df.shape)
print(final_df)

(1705, 5)
                    Open          High           Low         Close    Volume
Timestamp
2020-01-01   7186.399375   7188.638083   7184.474021   7186.464500  0.841038
2020-01-02   7124.028590   7126.805507   7121.185118   7124.040660  2.078489
2020-01-03   7143.260563   7147.477215   7139.398257   7143.447729  5.870052
2020-01-04   7316.682979   7319.481507   7313.819771   7316.615736  2.503988
2020-01-05   7417.108132   7419.795437   7414.667618   7417.132611  1.815936
...                  ...           ...           ...           ...       ...
2024-08-27  62623.192361  62638.263194  62607.734028  62623.297917  0.951731
2024-08-28  59526.847222  59553.024306  59497.836111  59524.722917  2.699902
2024-08-29  59667.187500  59688.853472  59645.680556  59667.342361  1.720718
2024-08-30  59152.263889  59172.700000  59130.343056  59151.475694  1.507046
2024-08-31  58693.000000  58789.000000  58693.000000  58789.000000  0.387600

[1705 rows x 5 columns]